/* Highlight borders of Div and Table */
div,
table,
td {
  border: 2px solid lightblue;
}

body {
  font-size: 19px;
  line-height: 1.25em;
  background-color: rgb(226, 232, 232);
}

/* gradient for background  */
.gradient {
  position: relative;
}
.gradient:before {
  content: "";
  position: fixed;
  z-index: -2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background: #92a7e4;
  background: -moz-linear-gradient(
    -65deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(190, 189, 189) 94%
  );
  background: -webkit-linear-gradient(
    -65deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(190, 189, 189) 94%
  );
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(190, 189, 189) 94%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
}
p {
  margin-top: 0.3em;
  margin-bottom: 0.6em;
}

.container {
  max-width: 700px;
  margin: 10px auto 10px auto;
  min-height: 300px;
  padding: 20px 26px 10px 26px;
  border-radius: 25px;
  border: 1px solid #bdc5ce;
  background: #f5f3f5;
  box-shadow: 9px 10px 25px rgb(0 0 0 / 50%);
}
.footer {
  min-height: 1em;
  font-size: 15px;
  font-style: italic;
}

.card {
  padding: 17px 20px 1px 20px;
  min-height: 3em;
  border-radius: 20px;
  margin-bottom: 15px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 1.05em;
}
h2 {
  font-size: 25px;
  font-weight: 700;
}

ul {
  padding: 10px 0 15px 30px;
  /* border: 1px solid forestgreen; */
}
ul ul {
  padding: 3px 0 15px 20px;
  /* border: 1px solid lightpink; */
}
ul li {
  list-style-type: disc;
  line-height: 1.15em;
}

.photo {
  width: 250px;
  max-width: 100%;
  height: auto;
  border-radius: 17px;
}

.info {
  display: flex;
  margin-top: 15px;
  padding: 4px 4px 4px 3px;
  background: #a3b2c0;
}

.info-text {
  margin-left: 20px;
}
.flex-container-contact {
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-size: 30px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-title {
  padding-right: 20px;
  vertical-align: baseline;
}
.contact-text {
  font-size: 18px;
  text-align: left;
  max-width: 95%;
}

.place-of-work {
  background: #f0e6c3;
}
.experience {
  background: #d8e0f1;
}
.skills {
  background: #ece6ce;
}

@media (max-width: 650px) {
  .info {
    display: block;
    text-align: center;
  }
  .info-text {
    margin: 0 0 0 0;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 20px;
  }
  .name {
    font-size: 20px;
  }
  .card {
    padding: 10px 12px 1px 12px;
  }
  .contact-text {
    font-size: 14px;
  }
}
