/********** обнулятор CSS *************/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
:befor,
::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}
/******************************************/
/******** end of Nullifier CSS ************/
/******************************************/

/* Illuminated borders of Div and Table */
div,
table,
td {
  border: 2px solid lightblue;
}

body {
  font-size: 22px;
}

.container {
  max-width: 700px;
  margin: 0px auto 0px auto;
  min-height: 300px;
  padding: 20px 20px 10px 20px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.photo {
  width: 250px;
  border-radius: 28px;
}

.info {
  display: flex;
  margin-top: 15px;
}

.info-text {
  margin-left: 20px;
  line-height: 1.2em;
}

.name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.contact-title {
  padding-right: 20px;
  vertical-align: top;
}
.contact-text {
  font-size: 18px;
}
