/* Illuminated borders of Div and Table */
div,
table,
td {
  border: 2px solid lightblue;
}

body {
  font-size: 22px;
  line-height: 1.2em;
}
p {
  margin-bottom: 0.7em;
}

.container {
  max-width: 700px;
  margin: 0px auto 0px auto;
  min-height: 300px;
  padding: 20px 20px 10px 20px;
}

.card {
  padding: 12px 20px 1px 20px;
  min-height: 3em;
  border-radius: 20px;
  margin-bottom: 15px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.photo {
  width: 250px;
  border-radius: 20px;
}

.info {
  display: flex;
  margin-top: 15px;
  padding: 0 20px 0 0;
}

.info-text {
  margin-left: 20px;
}

.name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.contact-title {
  padding-right: 20px;
  vertical-align: top;
}
.contact-text {
  font-size: 18px;
}

.place-of-work {
}
.experience {
}
.skills {
}
